<main class="mdl-layout__content mdl-color--grey-100 mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#all-panel" class="mdl-tabs__tab is-active">All Venues</a>
    <a href="#clubs-panel" class="mdl-tabs__tab">Clubs</a>
    <a href="#theaters-panel" class="mdl-tabs__tab">Theaters</a>
  </div>
  <div class="mdl-grid mdl-tabs__panel is-active" id="all-panel"></div>
  <div class="mdl-grid mdl-tabs__panel" id="clubs-panel"></div>
  <div class="mdl-grid mdl-tabs__panel" id="theaters-panel"></div>
</main>
